<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Atividade 01 Angular</title>
  </head>
  <body>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">           
            <div style="text-align:center">
              <h1>
                Atividade 2!
              </h1><br>
            </div>
          </div>
        </div>
        <div class="container">
          <div style="text-align:center" class="backForm"><br>
            Bem vindo a minha página, eu sou {{ nome }} {{sobrenome}}  e 
            tenho o email {{email}}
            </div>          
        </div><br>
              <div class="jumbotron jumbotron-fluid">
                <div class="container">           
                  <div style="text-align:center">
                    <h1>
                      Atividade 3!
                    </h1><br>
                  </div>
                </div>
              </div>
              <div class="container">
                <div style="text-align:center" class="backForm"><br>
                  <label>Qual o nome do seu Pet?</label> <input type="text"  [(ngModel)]="nomePet"><br>
                  <label>Qual sua idade?</label> <input type="text"  [(ngModel)]="idade"><br>
                  <button type="button" (click)="addPet()">Inserir dado</button>
                </div>  
                <div>
                  <ul class="list-group">
                      <li *ngFor="let cont of nomePets">{{cont}}</li>  
                      <li *ngFor="let cont of idades">{{cont}}</li>
                  </ul>              
                </div>
              </div><br>
                <div class="jumbotron jumbotron-fluid">
                  <div class="container">                  
                    <div style="text-align:center">
                      <h1>
                        Atividade 4!
                      </h1><br>
                    </div>
                  </div>
                </div>
                <div class="container">
                  <div style="text-align:center" class="backForm"><br>         
                    <div>
                      <h6>Abaixo estão os elementos do Array.</h6>
                        <ul class="list-group">
                          <li class="list-group-item">{{vasco}}</li>              
                        </ul>                       
                    </div>
                  </div>
                </div><br>
                    <div class="jumbotron jumbotron-fluid">
                      <div class="container">                  
                        <div style="text-align:center">
                          <h1>
                            Atividade 5!
                          </h1><br> 
                        </div>
                      </div>
                    </div>
                    <div class="container">
                      <div style="text-align:center" class="backForm"><br>                         
                        <div>
                          <select (change) = "escolha($event.target.value)" name="jogador">
                            <option value="{{cont}}" *ngFor = 'let cont of vasco' >{{cont}}<option>
                          </select>                      
                          <div>
                            <span>{{exibe}}</span>
                          </div>                
                          <br>
                          <button (click) = "acionaEvento()">Escolher</button>                         
                        </div>              
                      </div>
                    </div><br>    
                    
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      </body>
    </html>